* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}

th,
td {
    /* border: 1px solid; */
    width: 10mm;
}

.cell-legend {
    width: 100%;
    font-size: x-small;
    font-weight: normal;
    text-align: start;
    padding-left: 5px;
}

tr,
td {
    height: 4.25mm;
    padding: 2px;
}

.separator,
.separator>* {
    height: 2mm;
    border-right: none;
    border-left: none;
}

.header-data {
    text-align: center;
    font-weight: bold;
    min-height: 6mm;
}

.text-separator {
    font-size: x-small;
    font-weight: bold;
    text-align: center;
}

.cell-header {
    border-bottom: 1px solid;
}

.word-wrap {
    word-wrap: break-word;
    max-width: 175mm;
}

.no-border-right {
    border-right: none;
}

.no-border-right+td {
    border-left: none;
}

.header-data>input {
    width: 95%;
    height: 100%;
    font-weight: bold;
    /* text-align: center; */
    margin-top: 1.5px;
}

.align-item {
    text-align: center;
}

.cell-data>textarea {
    resize: none;
}

.w-60 {
    width: 60px;
}

.w-80 {
    width: 80px;
}

.pn-data>input {
    width: 100%;
    height: 100%;
}

.form-btn {
    text-align: center;
}

.center {
    text-align: center;
}

table {
    margin: 0px auto;
}

input,
textarea {
    border: none;
}

.form-btn {
    display: none;
}

label.coolbox {
    margin-left:1.5px;
    display:inline-block;
    width:12px;
    height:20px;
    background-image: url("x.png");
    background-position:top;
}

input:checked + label.coolbox {
    background-position:bottom;
}

input.coolbox {display:none;}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media print {

    input,
    textarea {
        border: none;
    }

    .form-btn {
        display: none;
    }

}